<!DOCTYPE html>
<html lang="en"> 
	<head>
		<title>Animal Dashboard</title>
		<meta charset="UTF-8">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="index.css">
		<script>
			$(document).ready(function(){
				$('#container').on('click', 'img', function(){
					$.get('/rabbit/'+$(this).attr('id'), function(res){
						console.log(res);
						$('.name').text(res[0].name);
						$('.gender').text(res[0].gender);
						$('.age').text(res[0].age);
						$('.description').text(res[0].description);
					}, 'json'); 
				}); 
			}); 
		</script>
	</head>
	<body>
		<a href="/rabbit/new">
		<ul class='nav'>
			<li>Create New Rabbit</li>
		</ul>
		</a>
		<div id="container">
			<div class="header">
				<h2>The Rabbit Pack</h2>
			</div>
			<div class="pack">
							<%
				for(i in rabbits){
				%>
					<div class="rabbit">
						<%
							var age =0; 
							if(rabbits[i].age < 10){
								age = 1;
							} else if (rabbits[i].age < 20){
								age = 2;
							} else if (rabbits[i].age < 30){
								age = 3;
							} else {
								age = 4;
							}
						%>
						
						<img src=<%="rabbit_"+age+".jpg" %> width="100px" height="100px" alt='rabbit' id="<%= rabbits[i].id %>">
						<form action="/rabbit/<%= rabbits[i].id %>/destroy" method="post">
							<button type='submit' class='delete'>Delete</button>
						</form>
						<form action="/rabbit/<%= rabbits[i].id %>/edit" method='get'>
							<button type='submit' class='update'>Update</button>
						</form>
					</div>
				<% 
				}
			%>
			</div>
			<div class="info">
				<p class="caption">Name:</p> <p class='name'></p><br>
				<p class="caption">Gender:</p> <p class='gender'></p><br>
				<p class="caption">Age:</p> <p class='age'></p><br>
				<p class="caption">Background:</p> <p class='description'></p><br>
			</div>
		</div> <!-- End Container -->
		
	</body> 
</html>